.hero {
  /* DO NOT CHANGE THESE */
  background-color: $themecolor;

  h1 {
    /* DO NOT CHANGE THESE */
    color: $HFfont;
  }

  ul {
    padding:0;
  }

  li {
    list-style: none;
    display: inline;
  }

  a {
    text-decoration: none;
    margin: 0 1.3em 0 0;
  }
}
