.posts {
  flex: 3 0 25%;
  box-sizing: border-box;
  justify-content: space-around;
  flex-wrap: wrap;
  /* DO NOT CHANGE THESE */
  color: $themecolor;

  article {
    flex: 0 0 46%;
    margin: 1.5em;
    /* DO NOT CHANGE THESE */
    background-color: $articlebackground;
    border: $themeborder;
    height: 20em; /* this is just so we can see the articles since they have no content */
  }
}
