
/* resetting some browser-default styles */
/* DO NOT CHANGE THESE */
html,body,header,main,footer,section,aside,h1,h2,h3,h4,p{margin:0;padding:0;}
ul{margin:0;}


body {

    /* DO NOT CHANGE THESE */
    font-family: Verdana, Arial, sans-serif;
}


.hero {
  display: flex;
    /* DO NOT CHANGE THESE */
    background-color: #444444;
}
.hero h1 {
  flex: 0 0 50%;
  padding: 3em;
    /* DO NOT CHANGE THESE */
    color: #ffffff;
}

.hero nav{
  flex: 0 0 50%;
}

.hero li {
  list-style: none;
  display: inline;
}


.container {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
}


.posts {
  /*border: solid red;*/
  flex: 3 0 25%;
  box-sizing: border-box;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
    /* DO NOT CHANGE THESE */
    color: #444444;
}
.posts article {
    flex: 0 0 46%;
    margin: 1.5em 1em 1.5em 0;
    /* DO NOT CHANGE THESE */
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 20em; /* this is just so we can see the articles since they have no content */
}


.sidebar {
  /*border: solid red;*/
  flex: 0 0 25%;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  margin-left: 1em;
    /* DO NOT CHANGE THESE */
    background-color: #aaaaaa;
    color: #444444;
}

.sidebar section {
  flex: 0 0 15%;
  margin: 1.7em 1em 1.7em 1em;
  align-content: flex-start;

    /* DO NOT CHANGE THESE */
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 10em; /* this is just so we can see the articles since they have no content */
}


footer {

    /* DO NOT CHANGE THESE */
    background-color: #444444;
    color: #eeeeee;
}
